h1{
    padding-left: 300px;
}
h1{
    color: blue;
}
h2{
    color: brown;
}
body{
    border: solid blue;
}
h2,h3,h4,h5,p,p,h6{
    padding-left: 10px;
}
.abdullahi{
    color: red;
}
.first {
    color: red;
}