h1{
    color: brown;
}

p{
    padding-left: 40px;
    margin-left: 40px;
}
p{
    color: blue;
}

h5{
    color: blue;
    padding-left: 40px;
    margin-left: 40px;
}

#intro .first em {
    color: red;
}


  
        
 


    
    

