h1{
    color: red;
    text-align: center;
}

body{
    padding-left: 30px;
}
.second {
    color: red;
}

.first{
    color: blue;
}

.third{
    color: red;


.third{
    color: red;
}

.first{
    color: blue;
}